{% extends "base.html" %}

{% block title %}SEINA ASSADIAN - Contact{% endblock %}

{% block customstyle %}
<link rel="stylesheet" href="../static/css/contact.css">
{% endblock %}

{% block content %}
<div class="contact">
    <section id="section1">
        <div class="contact-title">
            <div class="row justify-content-md-center">
                <h1>let's work together</h1>
            </div>
            <div class="row justify-content-md-center">
                <h2>here's some of my information</h2>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 contact-info">
                    <ul>
                        <li id="email">
                            <h4><i class="far fa-envelope"></i> e-mail: <a href="mailto: assadian.seina@gmail.com">assadian.seina@gmail.com</a></h4>
                        </li>
                        <li id="phone">
                            <h4><i class="fas fa-phone"></i> phone #: (514) 836 3500</h4>
                        </li>
                    </ul>

                    <div id="resume">   
                        <a href="../static/Resume - Seina Assadian.pdf" target="_blank"><h3>my resume</h3> <i class="far fa-clipboard"></i></a>
                    </div>
                </div>
                <div class="col-md-6 platforms">
                    <h3>find me here</h3>
                    <ul>
                        <li id="github">
                            <a href="https://github.com/seinaas" target="_blank" id="logo-github">Github <i class="fab fa-github"></i></a>
                        </li>
                        <li id="linkedin">
                            <a href="https://www.linkedin.com/in/seinaassadian/" target="_blank"  id="logo-linkedin">LinkedIn <i class="fab fa-linkedin"></i></a>
                        </li>
                        <li id="devpost">
                            <a href="https://devpost.com/seinaas" target="_blank" id="logo-devpost">Devpost <i class="fas fa-code"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}